{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('category') }}
{% endblock %}
{% block body %}
    <div class="content-category">
        {% for category in categories %}
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="{{asset("build/images/giphy.gif")}}" class="card-img-top" alt="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ category.name }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ path("plant_index", {'category': category.id }) }}" class="btn btn-primary">Acceder aux plantes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
