{% extends 'base.html.twig' %}

{% block title %}Parcel{% endblock %}

{% block body %}
    <h1>Parcel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcel.id }}</td>
            </tr>
            <tr>
                <th>Gps_location</th>
                <td>{{ parcel.gpsLocation }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ parcel.region }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ parcel.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('parcel_index') }}">back to list</a>

    <a href="{{ path('parcel_edit', {'id': parcel.id}) }}">edit</a>

    {{ include('parcel/_delete_form.html.twig') }}
{% endblock %}
